
.navbar-inverse{
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.9;
    padding-top:20px; padding-bottom: 20px;
    background-image: linear-gradient(to top,#000000 10%,#bc1818 100%);
}


.navbar-brand{
    font-family: Montserrat, sans-serif;
	font-style: normal;
	font-size: 10ex;
	color: #d5d5d5 !important; //color gris para todos los links de la barra
}

/* borde transparente*/
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

.fondo{
      
}

body {
	background-color: black;
	background-image: url("http://thewongcouple.com/our-wedding/images/CinemaBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}

.well{
    padding-bottom: 20px;
}

.poster {
    position: relative;
    display: inline-block; /*Para que todos los elementos aparezcan en la misma linea*/
     
}

/* Texto que aparece en el tooltip*/
.poster .poster-info {
    visibility: hidden;/*no se muestra hasta que se pasa el mouse por encima*/
    width: 70%; /*ancho del tooltip*/
    background-color: #848484;
    color: #fff;
    text-align: center;
    padding: 4px 0;
    border-radius: 10px;
 
    /* Posicion del texto que aparece dentro del tooltip*/
    position: absolute;
    z-index: 1; /*orden de aparicion del tooltip en relacion al poster*/
    left:50%; /*para que aparezca a la derecha*/
    margin-left: -30px; /*se usa la mitad del ancho para centrarlo*/
    bottom:5%; /*para que aparezca mas abajo*/
}

/* El tooltip se hace visible cuando se pasa el mouse por encima del poster*/
.poster:hover .poster-info {
    visibility: visible;
    opacity: 1;
}

/*Flecha del tooltip (hace que se vea como una ventana de dialogo)*/
.poster .poster-info::after {
    content: " "; /*Contenido vacio*/
    position: absolute;
    top: 100%; 
    left: 50%;
    /*Se crea usando bordes*/
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #848484 transparent transparent transparent; /*La flecha aparece encima del tooltip*/
}

.poster-img 
{
	border-radius: 10px;
    height: 28em;
	/*max-width: 100%;   si es porcentaje todas van a quedar de distinto tamaño*/ 
    display: block;
    margin: auto;
    transition: .5s ease;
}

.poster:hover .poster-img
{
	opacity: 0.85;
	background: black;
}


.poster-info
{   transform: translate(0%, -100%); /* Revisar la traslacion  */ /*La cambie de -500 a -100*/
	transition: .5s ease;
  	opacity: 0;
	
}

.poster-titulo
{
	color: white;
	font-size: 20px;
	text-align: center;
	text-shadow: 0 0 6px #000000;
}
.poster-anio
{
	color: white;
	font-size: 15px;
	text-align: center;
	text-shadow: 0 0 6px #000000;
}

h1{
    font: 400 35px/1.3 Lato, sans-serif;

}
h2{
    font: 400 35px/1.3 Lato, sans-serif;
    color:white;
}
h5{
    color:white;
}


/* Botones color gris con los bordes redondeados y las letras blancas*/
.btn-bc{
    padding: 10px 20px;
    background-color: #848484;
    color: white;
    border-radius: 2;
    transition: .2s;
}

/* Al pasar el mouse los botones pasan a ser blancos con las letras negras*/
.btn-bc:hover {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}
/*Los links de los botones también pasan a ser negros cuando se pasa el mouse por encima*/
.btn-link:hover 
{
	text-decoration: none;
	color: #000000;

}

footer {
    background-color: #100D0A;
    font-family: Montserrat, sans-serif;
    color: #f5f5f5;
    padding: 32px;
}

a{
    color: #f5f5f5;
}

a:hover {
    color: #777;
    text-decoration: none;
}

